 body{
  font-family: 'Montserrat', sans-serif;
  background-color:gold;
 }
#flex-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  align-content: center;
}
 #game{
   display:none;
    margin: 2rem;
 }
 #game div{
  border: 3px solid black;
  /* width: 15%; */
  height: 200px; 
  min-width: 180px;
  margin: 10px;
  display: inline-block;
  border-radius: 13px;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl7toldeJ4TZWYyUoputLqqipFRA2SD0WuCg&usqp=CAU");

  
} 

#textsizing{
  text-align:center;
  color:black;
  font-weight:900;
}
#div1{
  display: flex;
  justify-content: center;
  align-content:center;
}
#button{
  width:10rem;
  height:3rem;
  text-align:center;
  border-radius:13px;
  border:none;
  background-color:orange;
  margin-top:3rem;
}
#div2{
  display:flex;
  justify-content: center;
  align-content: center;
}
#restart-button{
  display:none;
  width:10rem;
  height:3rem;
  text-align:center;
  border-radius:13px;
  border:none;
  background-color:orange;
  margin-top:2rem;
}
#score{
  text-align:center;
  font-size:1.8rem;
  display:none;
  color:black;
  font-weight:600;
}
#drag{
  display:flex;
  justify-content:center;
  margin-top:3rem;
  margin-bottom:2rem;
  color:black;
  transition:2ms;
}
label{
  font-size:1.5rem;
}
#cars{
  width:10rem;
  border:3px solid black;
  border-radius:13px;
  background-color: gold;
}
#winner{
  font-size:1.8rem;
  font-weight:600;
}
@media only screen and (max-width:500px){
  #game div{
    min-width:100px;
    height:80px;
    background-size:cover;

  }
}

